!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title
      | #summit12 on Instagram
    link(href='./css/styles.css', rel='stylesheet')
    script#photo-template(type="text/template")
      .photo
        img(src='<%= thumbnail.url %>')

  body
    .container
      section#photos


    script(src="./js/jquery.min.js")
    script(src="./js/underscore.min.js")    
    script(src="./js/backbone.min.js")
    script(src="./js/backbone.brace.js")
    script(src="./js/app.js")
    script
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')